/Pretrained_Models
/path/to/models/
/Data - Is Epic Intro 2024-03-25
/Data - Needs Respray - 2024-03-25
path/to/models/Is GenAI/Vit_b_Is GenAI_model.pth
path/to/models/Is Epic/Vit_b_Is Epic_model.pth
__pycache__/preprocess.cpython-311.pyc
__pycache__/common.cpython-311.pyc
__pycache__/common.cpython-311.pyc
